<div class="container">
  <div class="py-5">
    <p-card header="Wymiana walut">
      <div class="py-1">
        Wybierz walutę
        <p-dropdown [options]="options" [(ngModel)]="selectedCurrency" placeholder="Wybierz walutę"
          (ngModelChange)="calculate()"> </p-dropdown>
        Kupono ({{selectedCurrency?.bid}}) Sprzedaż ({{selectedCurrency?.ask}})

        <p-button class="float-end" label="Odśwież dane" icon="pi pi-refresh" (click)="getExchangeRates()"></p-button>
      </div>
      <div class="py-1">
        <span class="align-super"> Mam PLN </span>
        <p-inputSwitch [(ngModel)]="checked" (ngModelChange)="calculate()"></p-inputSwitch>
        <span class="align-super"> {{selectedCurrency?.code}} </span>
        <p-inputNumber class="align-text-bottom" [(ngModel)]="value1" mode="currency"
          [currency]="checked ? (selectedCurrency?.code ?? 'PLN') : 'PLN'" locale="pl-PL"
          (ngModelChange)="changesValue1()">
        </p-inputNumber>
      </div>
      <div class="py-1">
        <span> Otrzymam </span>
        <p-inputNumber [(ngModel)]="value2" mode="currency"
          [currency]="checked ? 'PLN' : (selectedCurrency?.code ?? 'PLN')" locale="pl-PL"
          (ngModelChange)="changesValue2()"> </p-inputNumber>
      </div>
    </p-card>
  </div>
</div>
<p-toast></p-toast>